

.variant--label{
  min-width: 100px;
  text-align: center;
}

.product-single__meta {
    padding-left: 0px;
}


.product-single__sizes-link{
  display: block;
  margin: 30px 0;
}

.icon-exclamation {
  position: relative;
  top: 2px;
}

.color-links__wrapper{
  display: flex;
  margin-bottom: 20px;
}

.color-links__wrapper > *:not(:last-child){
  margin-right: 16px;
}

.color-links__wrapper img{
  max-width: 40px;
}
